{{ define "orders" }}
<h1>Orders</h1>
{{ range $value := . }}
<div>
    <ul>
        <li>{{ $value.ID }}</li>
        <li>{{ $value.OrderID }}</li>
        <li>{{ $value.DriverConnID }}</li>
        <li>{{ $value.InsertDate }}</li>
        <li>{{ $value.ClickTime }}</li>
        <li>{{ $value.Status }}</li>
        <li>{{ $value.TaxiFleetID }}</li>
        <li>{{ $value.Status }}</li>
        <li>{{ $value.UnitID }}</li>
        <li>{{ $value.DrvAcceptTime }}</li>
        <li>{{ $value.Active }}</li>
    </ul>
<div>
{{ end }}
{{ end }}
