{{ define "activeOrders" }}
{{ template "header" }}

<div id="order-list" style="display: none" >
        <div id="orders"></div>
<div>
<script type="text/jsx">

var OrderBox = React.createClass({
    loadOrdersFromServer: function() {
        $.ajax({
            url: this.props.url,
            dataType: 'text',
            success: function(data) {
                this.setState({data: JSON.parse(data)});
                $("#preloader").css("display", "none");
                $("#order-list").css("display", "block");
            }.bind(this),
            error: function(xhr, status, err) {
                console.err(this.props.url, status, err.toString());
            }.bind(this)
        });
    },
    getInitialState: function() {
        return { data: {AllOrders:[], AttrOrder:[]} };
    },
    componentDidMount: function() {
        this.loadOrdersFromServer();
        setInterval(this.loadOrdersFromServer,
        this.props.pollInterval)
    },
    render: function() {
        return (
            <div className="orderBox">
                <OrderList data = {this.state.data} />
            </div>
            );
    }
});
        

var OrderList = React.createClass({
render: function() {
    //Column Headers
    var ColHeaders = {
            "Options": "Options",
            "ID": "Order ID",
            "Status": "Status",
            "OrderTime": "Order Time", 
            "ClientPhone": "Client Phone",
            "ClientName": "Client Name",
            "CarNumber": "Car Number",
            "DriverPhone": "Driver Phone",
            "Companies":"Company"
        };

    var AttrOrders = this.props.data.AttrOrder;
    var StatusIndex = 0

    var orderNodes = this.props.data.AllOrders.map(function (order) {
        //order status option button criterias
        //if true, then button is hidden
        //if false, then button is visible
        var statuses= [
        { //0
            "next": true,
            "cancel": false,
            "activate": true
        },
        { //1
            "next": false,
            "cancel": false,
            "activate": true
        },
        { //2
            "next": true,
            "cancel": true,
            "activate": false
        },
        { //3
            "next": true,
            "cancel": false,
            "activate": true
        },
        { //4 <---
            "next": true,
            "cancel": true,
            "activate":false 
            
        },
        { // 5
            "next": false,
            "cancel": false,
            "activate": true
        },
        { // 6
            "next": false,
            "cancel": false,
            "activate": true            
        },
        { // 7
            "next": true,
            "cancel": true,
            "activate": true
        },
        { // 8
            "next": true,
            "cancel": true,
            "activate": false
        },
        { // 9
            "next": true,
            "cancel": true,
            "activate": false
        },
        { // 10
            "next": false,
            "cancel": false,
            "activate": true
        },
        { // 11
            "next": true,
            "cancel": true,
            "activate": false,  
        }, 
        { // 14
            "next": true,
            "cancel": true,
            "activate": false,  
        },
        { //13
            "next": true,
            "cancel": true,
            "activate": false,  
        },
        {// 14
            "next": true,
            "cancel": true,
            "activate": false,  
        },
        { // 15
            "next": true,
            "cancel": true,
            "activate": false,  
        },
        {// 16
            "next": true,
            "cancel": true,
            "activate": false,  
        },
        {// 17
            "next": true,
            "cancel": true,
            "activate": false,  
        },
        {// 18
            "next": true,
            "cancel": true,
            "activate": false,  
        }
    ];
    var BtnState = statuses[order.StCode]
    var AttrOrder = new Object();
    for(var cols in AttrOrders) {
        // if the length of company name
        // then => "MyTaxi"
        // TODO: Implement this in MySQL
        if(order["Companies"].length > 3){
            order["Companies"] = "MyTaxi";
        }
        AttrOrder[AttrOrders[cols]] = order[AttrOrders[cols]];
    } 
    return (
            <Order  
                AttrOrder = {AttrOrder}
                Options = {BtnState} 
                StCode = {order.StCode}
                OrderID = {order.ID}>
            </Order>
        );
    });

    return(
        <table statusCol={StatusIndex} className="hoverTable OrderList table table-bordered">
            <tr>
                <th>Options</th>
                { AttrOrders.map(function(header, index) {
                    return (<th>{ColHeaders[header]}</th>);
                }) }
            </tr>
            {orderNodes}
        </table>
    );
}
});


var Order = React.createClass({
    hash : "{{  . }}",

    cancel: function(){
        var cancelUrl = "/active-orders?hash=" +
                        this.hash + 
                        "&id=" + 
                        this.props.OrderID + 
                        "&cmd=cancel";

        console.log(cancelUrl);
        this.setState({
            disabled: true
        })
        var btnState = this;
        $.ajax({
            url: cancelUrl,
            success: function(data) {
                btnState.setState({
                    disabled: false
                })
            },
            error: function(xhr, status, err) {
                console.err(err.toString());
            }
        });
    },

    activate: function(){
        var activateUrl = "/active-orders?hash=" +
                            this.hash +
                            "&id=" +
                            this.props.OrderID +
                            "&cmd=activate";
        var btnState = this;
        $.ajax({
            url: activateUrl,
            succes: function(data){
                btnState.setState({
                    disabled: false
                })
            },
            error: function(xhr, status, err){
                   console.err(err.toString());
            }
        });
    },
    toNext: function(){
        var toNextUrl = "/active-orders?hash=" +
                        this.hash +
                        "&id=" +
                        this.props.OrderID +
                        "&status=" +
                        this.props.StCode +
                        "&cmd=next";
        btnState = this;
        $.ajax({
            url: toNextUrl,
            succes: function(data) {
                btnState.setState({
                    disabled: false
                })
            },
            error: function(xhr, status, err) {
                console.err(err.toString());
            }
        })
    },
    getInitialState: function(){
        return {
            disabled: false
        }
    },
    render: function(){
        var stImgURL = "/assets/img/" + this.props.StCode + ".png";
        /*
        CarNum: "998911377816"
        ClientName: "Без номера"
        ClientPhone: "998000000000"
        Companies: "202"
        DriverPhone: "Red Poll"
        ID: 1222296
        OrderTime: "14 01 2015 at 10:27"
        StCode: 7
        Status: "Заказ выполнен"
        */
        var AttrOrder = this.props.AttrOrder;
        return(
        <tr>
            <td>
                <button onClick={this.cancel} hidden={ this.props.Options.cancel} disabled={this.state.disabled}>cancel</button>
                <button onClick={this.activate} hidden={this.props.Options.activate} disabled={this.state.disabled}>activate</button>
                <button onClick={this.toNext} hidden={this.props.Options.next} disabled={this.state.disabled}>next</button>
            </td>
            { 
                Object.keys(this.props.AttrOrder).map(function(value, index){
                    if (value === "Status") {
                        return (<td className="order-id"><img src={stImgURL}/>   <span>{AttrOrder[value]}</span></td>);
                    }
                    return (<td className="order-id">{AttrOrder[value]}</td>)                    
                })
            }
            
        </tr>
        );
    }
});
React.render(
        <OrderBox url="/orders?type=orders" pollInterval={5000} />, 
        document.getElementById('orders')
);
</script>
</body>
</html>
{{ end }}
