{{ define "activeOrders" }}
{{ template "header" }}

<div id="order-list" style="display: none" >
        <div id="orders"></div>
<div>
<script type="text/jsx">

var OrderBox = React.createClass({
    loadOrdersFromServer: function() {
        $.ajax({
            url: this.props.url,
            dataType: 'text',
            success: function(data) {
                this.setState({data: JSON.parse(data)});
                $("#preloader").css("display", "none");
                $("#order-list").css("display", "block");
            }.bind(this),
            error: function(xhr, status, err) {
                console.err(this.props.url, status, err.toString());
            }.bind(this)
        });
    },
    getInitialState: function() {
        return { data: [] };
    },
    componentDidMount: function() {
        this.loadOrdersFromServer();
        setInterval(this.loadOrdersFromServer,
        this.props.pollInterval)
    },
    render: function() {
        return (
            <div className="orderBox">
                <OrderList data = {this.state.data} />
            </div>
            );
    }
});
        

var OrderList = React.createClass({
render: function() {
    var orderNodes = this.props.data.map(function (order) {
        return (
            <Order  
                    OrderID = {order.ID}
                    Status = {order.Status}
                    ClientID = {order.ClientID}
                    AddrFrom = { order.AddrFrom}
                    Date = {order.Date}
                    OrderTime = {order.OrderTime}
                    Company = {order.Companies}
                    TariffID = {order.TariffID}
                    ClientPhone = { order.ClientPhone }
                    ClientName = { order.ClientName }
                    CarNum = { order.CarNum }
                    DriverPhone = { order.DriverPhone }
                    UserName = {order.UserName }
                    StCode = { order.StCode }
                    >
            </Order>
        );
    });

    return(
        <table className="hoverTable OrderList table table-bordered">
            <tr>
                <th>Options</th>
                <th>Order ID</th>
                <th>Status</th>
                <th>Client ID</th>
                <th>Address From</th>
                <th>Date</th>
                <th>Order Time</th>
                <th>Client Phone</th>
                <th>Client Name</th>
                <th>Car Number</th>
                <th>Driver Phone</th>
                <th>Username</th>
            </tr>
            {orderNodes}
        </table>
    );
}
});


var Order = React.createClass({
    {{ $hash := . }}

    cancel: function(){
        var cancelUrl = "/active?hash=" + 
                        {{$hash}} + 
                        "&id=" + 
                        this.props.OrderID + 
                        "&cmd=cancel";

        console.log(cancelUrl);
        this.setState({
            disabled: true
        })
        var btnState = this;
        $.ajax({
            url: cancelUrl,
            success: function(data) {
                btnState.setState({
                    disabled: false
                })
            },
            error: function(xhr, status, err) {
                console.err(err.toString());
            }
        });
    },

    activate: function(id){
        var activateUrl = "/active?hash=" +
                            {{$hash}} +
                            "&id=" +
                            this.props.OrderID +
                            "&cmd=activate";
        var btnState = this;
        $.ajax({
            url: activateUrl,
            succes: function(date){
                btnState.setState({
                    disabled: false
                })
            },
            error: function(xhr, status, err){
                   console.err(err.toString());
            }
        });
    },
    toNext: function(id){

    },
    getInitialState: function(){
        return {
            disabled: false
        }
    },
    render: function(){
        var stImgURL = "/assets/img/" + 
                        this.props.StCode +
                        ".png";
        return(
        <tr>
            <td>
                <button onClick={this.cancel} disabled={this.state.disabled}>Cancel</button>
                <button onClick={this.activate} disabled={this.state.disabled}>activate</button>
            </td>
            <td className="order-id">
                    {this.props.OrderID}
            </td>
            <td className="order-id">
                <img src={stImgURL}/> <span>{this.props.Status}</span>
            </td>
            <td className="order-id">
                {this.props.ClientID}
            </td>
            <td className="order-id">
                    {this.props.AddrFrom}
            </td>
            <td className="order-id">
                    {this.props.Date}
            </td>
            <td className="order-id">
                    {this.props.OrderTime}
            </td>
            <td className="order-id">
                    {this.props.ClientPhone}
            </td>
            <td className="order-id">
                    {this.props.ClientName}
            </td>
            <td className="order-id">
                    {this.props.CarNum}
            </td>
            <td className="order-id">
                    {this.props.DriverPhone}
            </td>
            <td className="order-id">
                    {this.props.UserName}
            </td>
        </tr>
        );
    }
});
React.render(
        <OrderBox url="/orders" pollInterval={5000} />, 
        document.getElementById('orders')
);
</script>
</body>
</html>
{{ end }}
