{{ define "index" }}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script src="/assets/js/react.js"></script>
        <script src="/assets/js/JSXTransformer.js"></script>
        <script src="/assets/js/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/assets/style/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/style/custom.css">
    </head>
    <body>
        <div id="orders"></div>
        <script type="text/jsx">

            var OrderBox = React.createClass({
                loadOrdersFromServer: function() {
                    $.ajax({
                        url: this.props.url,
                        dataType: 'text',
                        success: function(data) {
                            this.setState({data: JSON.parse(data)});
                        }.bind(this),
                        error: function(xhr, status, err) {
                            console.err(this.props.url, status, err.toString());
                        }.bind(this)
                    });
                },
                getInitialState: function() {
                    return { data: [] };
                },
                componentDidMount: function() {
                    this.loadOrdersFromServer();
                    setInterval(this.loadOrdersFromServer,
                    this.props.pollInterval)
                },
                render: function() {
                    return (
                        <div className="orderBox">
                            <OrderList data = {this.state.data} />
                        </div>
                        );
                }
            });
            

            var OrderList = React.createClass({
                render: function() {

                    var orderNodes = this.props.data.map(function (order) {
                        return (
                            <Order  
                                    OrderID = {order.OrderID}
                                    Status = {order.Status}
                                    InsertDate = {order.InsertDate}
                                    CarNum = {order.CarNum}
                                    Name = {order.Name}
                                    >
                            </Order>
                        );
                    });

                    return(
                        <table className="hoverTable OrderList table table-bordered">
                            <tr>
						        <th>Order ID</th>
						        <th>Insert Date</th>
						        <th>Status</th>
                                <th>Name</th>
                                <th>Car Number</th>
                            </tr>
                            {orderNodes}
                        </table>
                    );
                }
            });


            var Order = React.createClass({
                render: function(){
                    return(
                    <tr>
                        <td className="order-id">
                                {this.props.OrderID}
                        </td>
                        <td className="order-id">
                                {this.props.InsertDate}
                        </td>
                        <td className="order-id">
                                {this.props.Status}
                        </td>
                        <td className="order-id">
                                {this.props.Name}
                        </td>
                        <td className="order-id">
                                {this.props.CarNum}
                        </td>
                    </tr>
                    );
                }
            });
            React.render(
                    {{ $fleet := . }}
                    <OrderBox url="/orders?fleet={{ $fleet }}" pollInterval={2000} />, 
                    document.getElementById('orders')
            );
        </script>
    </body>
</html>
{{ end }}
