{{ define "index" }}
{{ template "header" }}

<div id="order-list" style="display: none" >
        <div id="orders"></div>
<div>
<script type="text/jsx">

var OrderBox = React.createClass({
    loadOrdersFromServer: function() {
        $.ajax({
            url: this.props.url,
            dataType: 'text',
            success: function(data) {
                this.setState({data: JSON.parse(data)});
                $("#preloader").css("display", "none");
                $("#order-list").css("display", "block");
            }.bind(this),
            error: function(xhr, status, err) {
                console.err(this.props.url, status, err.toString());
            }.bind(this)
        });
    },
    getInitialState: function() {
        return { data: {AllOrders: [], AttrOrder: [] }};
    },
    componentDidMount: function() {
        this.loadOrdersFromServer();
        setInterval(this.loadOrdersFromServer,
        this.props.pollInterval)
    },
    render: function() {
        return (
            <div className="orderBox">
                <OrderList data = {this.state.data} />
            </div>
            );
    }
});
        

var OrderList = React.createClass({
render: function() {
    //Column Headers
    var ColHeaders = {
        "OrderID": "Order ID",
        "Status": "Status",
        "InsertDate": "Time", 
        "CarNum": "Car Number",
        "Name": "Driver Name",
        "ClientPhone": "Client Phone",
        "Mobile": "Client Phone",
        "ClientName": "Client Name",
        "DriverPhone": "Driver Phone"
    }
    
    
    /*
        OrderID = {order.OrderID}
        Status = {order.Status}
        InsertDate = {order.InsertDate}
        CarNum = {order.CarNum}
        Name = {order.Name}
        ClientPhone = { order.ClientPhone}
        StCode = {order.StCode}
    */
    var AttrOrders = this.props.data.AttrOrder;
    var orderNodes = this.props.data.AllOrders.map(function (order) {
    var AttrOrder = new Object();

    for(var cols in AttrOrders) {
        AttrOrder[AttrOrders[cols]] = order[AttrOrders[cols]];
    };

    return (
        <Order  
                AttrOrder = {AttrOrder}
                OrderID = {order.ID}
                StCode = {order.StCode}
                >
        </Order>
        );
    });

    return(
        <table className="hoverTable OrderList table table-bordered">
            <tr>
                { AttrOrders.map(function(header, index) {
                    return (<th>{ColHeaders[header]}</th>);
                }) }
            </tr>
            {orderNodes}
        </table>
    );
}
});


var Order = React.createClass({
    render: function(){
        var stImgURL = "/assets/img/" + 
                        this.props.StCode +
                        ".png";
        var AttrOrder = this.props.AttrOrder;
        return(
        <tr>
             { 
            Object.keys(this.props.AttrOrder).map(function(value, index){
                if (value === "Status") {
                    return (<td className="order-id"><img src={stImgURL}/>   <span>{AttrOrder[value]}</span></td>);
                }
                return (<td className="order-id">{AttrOrder[value]}</td>)                    
            })
            }        
        </tr>
        );
    }
});
React.render(
        <OrderBox url={
        {{ if ne . "none" }}
            "/orders?type=logs&fleet=" + {{ . }}} 
        {{ else }}
            "/orders?type=logs"}
        {{ end }}
        pollInterval={3000} />, 
        document.getElementById('orders')
);
</script>
</body>
</html>
{{ end }}
