{{ define "orders" }}
<h1>Orders</h1>
<table class="table">
<tr>
   <th>ID</th>
   <th>Order ID</th>
   <th>Driver Conn ID</th>
   <th>Status</th>
   <th>Taxi Fleet ID</th>
   <th>Unit ID</th>
   <th>Active</th>
   <th>Insert Date</th>
   <th>Click Time</th>
</tr>
{{ range $value := . }}
        <tr>
            <td>{{ $value.ID }}</li>
            <td>{{ $value.OrderID }}</li>
            <td>{{ $value.DriverConnID }}</li>
            <td>{{ $value.Status }}</li>
            <td>{{ $value.TaxiFleetID }}</li>
            <td>{{ $value.UnitID }}</li>
            <td>{{ $value.Active }}</li>
            
            <td>
            {{ if $value.InsertDate.Valid }}
                {{ $value.InsertDate.Time.Format "2 Jan 2006 at 15:04" }}
            {{ end }}
            </td>

            <td>
            {{ if $value.ClickTime.Valid }}
                {{ $value.ClickTime.Time.Format "2 Jan 2006 at 15:04" }}
            {{ end }}
            </td>
        </tr>
{{ end }}
</table>
{{ end }}
